body {
  margin: 0;
}

.time {
  position: absolute;
  width: 100vw;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 60px;
  text-align: center;
  font-family: monospace;
}

button {
  font-size: 44px;
  font-family: arial;
  text-transform: uppercase;
  margin: 30px;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
}
